

<h2 class="text-center">Pokemon</h2>


    <div >
        <div>
            <table width="100%">
                <thead>
                    <th scope="col"># ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Type</th>
                    <th scope="col">Weight</th>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let pokemon of listaPokemon">
                        <td>{{pokemon.id}}</td>
                        <td>{{pokemon.name}}</td>
                        <td><img src="https://img.pokemondb.net/sprites/sword-shield/icon/{{pokemon.name}}.png"></td>
                        <td><img src="https://www.serebii.net/pokedex-bw/type/{{pokemon.types[0].type.name}}.gif"><figure *ngIf="pokemon.types[1]!=undefined"><img  src="https://www.serebii.net/pokedex-bw/type/{{pokemon.types[1].type.name}}.gif" ></figure></td>
                        <td>{{pokemon.weight/10}} kgs</td>
                    </tr>
                </tbody>
            </table>  
        </div>
        <div>
            <h1>Import for Pokemon Showdown</h1>
            <span *ngFor="let pokemon of listaPokemon">
                <h3>{{pokemon.name}}</h3>
                <br>
            </span>
        </div>
        <button type="button" (click)="goShowdown()" class="btn btn-primary center my-2">
          Go to Pokémon Showdown
        </button>
        
    </div>
