*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    text-align:center;
    font-size: 20;
}
.Info{
    max-width: 100px;
    min-width:100px;
}
.logo
{
    max-width: 200px;
}

.col-1
{
    width:20%;

}
.col-2
{
    width:20%;

}
.col-3
{
    width:20%;

}
.col-4
{
    width:20%;

}
.col-5
{
    width:20%;

}

thead{

    background-color: rgb(253, 77, 77);
    color:#FFFFFF;
}


table td{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    border-collapse:collapse;
}
.PS
{
    border-radius: 5px;
    padding: 15px 20px;
    text-align:center;
    font-size: 20px;
    color:#FFFFFF;
    background-color: #679AC5;
}

table img{
    min-width: 60px;   
}